<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔에 출력할 로그 패턴 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- ex)2023-08-29 14:30:59 [main] INFO  com.example.MyClass - The application started successfully. -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 파일에 출력할 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/myapp-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory> <!-- 3일 동안 로그 보관 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 특정 패키지 로그 레벨 설정 -->
    <logger name="org.springframework" level="WARN"/>

    <!-- root 로거는 모든 로거의 부모 역할, 모든 레벨 로그를 기록 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
